#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 300px;
    padding-top: 7px;
    width: 1.5cm;
    height: 1.5cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adresse{
    height: 280px;
    padding-top: 55px;
    padding-left: 130px;
}



.back{
    height: 0.7cm;
}
  
#myBtn:hover {
    background-color: #b666d2;
}


body{
    margin: 0;
    padding: 0; 
    font-family: "montserrat"; 
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
    transition: 0,1s;
    color: #b666d2;
    cursor: pointer;
}

#icone{
    height: 60px;
}

.valeur{
    font-family: montserrat-semibold, sans-serif;
    font-size: 15pt;
    text-transform: uppercase;
    color: #242626;
}

.blabla{
    font-family: montserrat-regular, sans-serif;
    color: grey;
    font-size: 13pt;
    width: 15em;
}


#lg{
    height: 25px;
    padding-right: 15px;
}

#lg2{
    height: 30px;
    padding-right: 15px;
    top: 30px;
}

#lg3{
    height: 25px;
    padding-right: 15px;
    top: 30px;
}

/**********************/
/**** Bandeau haut ****/
/**********************/

.logo{
    height: 1.3cm;
}

header{
    background: white;
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    position: fixed;
    border-bottom:rgba(0, 0, 0, 0.493) solid 1px;
    height: 1.5cm;
    z-index: 10;
}

.to{
    font-family: montserrat-semibold, sans-serif;
    color: black;
    text-decoration: none;
    margin-right: 9px;
    margin-left: 7px;  
    padding-bottom: 10px;
    font-size: 11pt; 
    font-style: normal;
    font-weight: 100;
}

.titre{
    color: black;
    text-decoration: none;
    margin-right: 7px;
    margin-left: 7px;  
    padding-bottom: 10px;
    font-size: 11pt; 
    font-family: montserrat-regular, sans-serif;
    font-style: normal;
    font-weight: 100;
}
   

.cat{
    display: flex;  
    align-items: center;
    margin-right: 30px;
}

/**********************/
/**** Section 1 *****/
/**********************/


.section1{
    padding-top: 3cm;;
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 87vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.phrase{
    padding-bottom: 20px;
    font-family: montserrat-semibold, sans-serif;
    font-size: 20pt;
    color: white;
}

#btn{
    color: white;
}


  
.section1 a{
    display: block;
    line-height: 40px;
    font-size: 18px;
    border: solid 2px white;
    border-radius: 25px;
    font-family: montserrat-bold;
    color :white;
    height: 40px;
    width: 150px;
    text-decoration: none;
    border: 2px solid white;
    text-align: center;
    position: relative;
    transition: all .2s;
    
  }
  
.section1 a span{
    position: relative;
    z-index: 2;
  }
  
.section1 a:after{
    position: absolute;
    content: "";
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b566d2cc;
    transition: ease 0,1s;
  }
  
.section1 a:hover{
    color: #fff;
  }
  
.section1 a:hover:after{
    width: 100%;
  }


.middle{
    border: solid 2px white;
    border-radius: 25px;
    font-family: montserrat-bold;
    color :white;
    height: 40px;
    width: 150px;
    padding-right: 4px;
    padding-left: 4px;
}

.middle:hover{
    background-color : #b666d2;
    transition:  0,3s step-end;
}


/**********************/
/**** Section 2 *****/
/**********************/

.section2{
    padding-top: 2cm;;
    height: 160vh;
    background-color:#f8f8f8;
    
}

.prenom{
    text-align: center;
}

.prenom a{
    text-align: center;
    color: white;
    font-family: montserrat-semibold, sans-serif;
    font-size: 12pt;
    text-decoration: none;

}

.prenom a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }


.tete{
    height: 180px;
}


.nostetes{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    grid-template-rows:  auto auto ;
    column-gap: 60px;
    row-gap: 40px;
    padding: 30px 60px 30px 60px ;
    background-color: #cdabd9;
}

.droite{
    padding-top: 50px;
}

.haut{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1cm;
}

.bas{
    padding-top: 1cm;
    padding-bottom: 2cm;
}

.violet{
    height: 4.7cm;
    margin: 10px;
    width: 3px;
    background-color: #b666d2;
    border-radius: 1px;

}

.s2tbis{
    text-align: center;
    padding-bottom: 2cm;
    font-size: 20pt;;
    color: #b666d2;
    font-family: montserrat-bold, sans-serif;
    font-style: normal;
}

.cadre{
    margin: 35px;
    padding: 30px;
    height: 9cm;
}

.cadre2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.v1{
    text-align: center;
}

 .blocktext {
    font-family: montserrat-light, sans-serif;
    text-align: justify;
    color: black;
    font-size: 13pt;
    padding-top: 60px;
    width: 27em;
    background-color: transparent;

}
/**********************/
/**** Section 3 *****/
/**********************/

.section3{
    padding-top: 2cm;;
    height: 82vh;
    background-color: white;
}

.section4{
    padding-top: 2cm;;
    height: 86vh;
    padding-bottom: 5cm;
    background-color:#f8f8f8;
    display: block;
    align-content: center;

}

.s2t, .s3t, .s4t{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 18pt;;
    color: #b666d2;
    font-family: montserrat-bold, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.section5{
    padding-top: 2cm;;
    height: 82vh;
    padding-bottom: 2cm;
    background-color:white;

}

.s5t{
    text-align: center;
    font-size: 34pt;
    color: #b666d2;
    font-family: montserrat-bold, sans-serif;
    font-style: normal;
    font-weight: 100;
}


.grid-container2 {
    display: grid;
    grid-template: 1fr 1fr 1fr / auto auto auto ;
    grid-gap: 10px;
    margin-top: 25px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: auto;
  }
  
.grid-container2> div {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.item1, .item2, .item3, .item4, .item5, .item6{
    font-size: 14pt;
    color: #242626;
    font-family: montserrat-semibold, sans-serif;
    font-style: normal;
    font-weight: 100;
}

#next{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.item1bis, .item2bis, .item3bis, .item4bis, .item5bis, .item6bis{
    font-family: montserrat-regular, sans-serif;
    color: grey;
    font-size: 14pt;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover{
    background-color: rgba(226, 226, 226, 0.4);
    cursor: pointer;

}



.section1 a{
    display: block;
    line-height: 40px;
    font-size: 18px;

    border: solid 2px white;
    border-radius: 25px;
    font-family: montserrat-bold;
    color :white;
    height: 40px;
    width: 150px;
    text-decoration: none;
    border: 2px solid white;
    text-align: center;
    position: relative;
    transition: all .2s;
    
  }
  
.section3 a{
    font-family: montserrat-semibold;
    font-size: 14pt;
    color :black;
    text-decoration: none;
  }
  

.section3 a:hover{
    color: #b666d2;
  }







/**********************/
/**** Section 4 *****/
/**********************/

.grid-container3 {
    margin-top: 0.3cm;
    display: grid;
    grid-template: 7cm 7cm/ auto auto auto auto ;
  }
  
.grid-container3> div {
    background-color: aqua;
    border: black solid 1px;
}



/**********************/
/**** Section 5 *****/
/**********************/



.vitrine{
    width: 100%; 
    height: 250px;
  }
  h2 {
    margin-bottom: .5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 25px ;
  }
  
  
  .porfolio-listing {
    position: relative;
  }
  
  .porfolio-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .porfolio-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .porfolio-title {
    font-size: 16pt;
    font-family: montserrat-semibold, sans-serif;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s;
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    padding-top: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
  }


  .timal{
      display: inline-block;
      font-size: 12pt;
  }

  
  .porfolio-listing:hover .porfolio-title {
    opacity: 1;
  }
  
  .porfolio-listing:hover .porfolio-image img {
    filter: blur(2px);
  }

.section4 a{
    color:white;
    text-transform: uppercase;
    font-size: 9pt;
    text-decoration: none;
}

.section4 a:hover{
    color:#b666d2;
    text-decoration: underline;
    transition: 0.1s;
}

.forme{
    margin-top: 60px;
    display: block;
    background-color: #b566d2a4;
    padding: 30px;
    height: 480px;
    width: 350px;

}

.kontakt{
    text-align: center;
    padding-top: 12px;
}

.boutonc{
    background-color: #242626;
    color:white;
    outline: none;
    padding-bottom: 20px 15px 20px 15px;
    font-size: 14px;
    font-family: montserrat, sans-serif;
    letter-spacing: 1px;
    
}

.boutonc:hover{
    background-color: white;
    color:#242626;
    cursor: pointer;
    transition: 0.1s;
}



.name, .email{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-family: montserrat, sans-serif;
    width: 350px;
}

.message{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-family: montserrat, sans-serif;
    height: 150px;
    width: 335px;
}


.name:hover, .email:hover, .objet:hover, .message:hover{
  
    border-bottom: 1px solid;
    color: white;
  
}

textarea{
    resize : none;
    padding-top: 5px;

}
/* width */
.section5 ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .section5   ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }
  
  /* Handle */
  .section5   ::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .section5  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
  


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    text-transform: uppercase; /* Firefox */
  }

.main2{
    background: transparent;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 2cm;
}

button{
    background: black;
    color: white;
    border : none;
    padding: 5px;
    height: 30px;
    width: 150px;
    font-size: large;

}

.mess{
    text-align: center;
    font-size: 13pt;
    color: black;
    font-family: montserrat, sans-serif;
}



.box2{
    background-color: rgba(255, 255, 255, .8);
    color: black;
    flex :1;
    margin-left: 80px;
    height: 45vh;
    padding: 10px;
}


.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding :30px;
}

  
  /* for touch screen devices */
  @media (hover: none) { 
    .porfolio-title {
      opacity: 1;
    }
    .porfolio-image img {
      filter: blur(2px);
    }
  }

  


.bouton{
    font-family: "montserrat-regular", sans-serif;
    font-size: 11pt ;
    color: black;
    background-color: transparent;
    border-radius: 4px;
    border: 1px black solid;
    height: 30px;
    width: 200px;
    padding:10px;
    align-content: center;

}

.bouton:hover{
    background-color: #b666d2;
    border: none;
    color:white;
    transition: 0.2s;
    cursor: pointer;

}




.nom, .mail, .objet{
    width: 300px;
        background: none;
        border: none;
        outline: none;
        border-bottom: 1px solid;
        color: #888;
        font-size: 14px;
    }


.contact2{
    display: flex;
    justify-content: center;

}

input{
    height: 30px;
    border: solid 2px black;

}



.plus{
    display: flex;
    justify-content: center;

}

.plus a{
    display: block;
    line-height: 30px;
    font-size: 15px;
    border: solid 2px #b666d2;
    border-radius: 25px;
    font-family: montserrat-bold;
    color :#b666d2;
    height: 30px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all .2s;
    
  }
  
.plus a span{
    position: relative;
    z-index: 2;
  }
  
.plus a:after{
    position: absolute;
    content: "";
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b566d2;
    transition: ease 0,1s;
  }
  
.plus a:hover{
    color: #f8f8f8;
    text-decoration: none;
  }
  
.plus a:hover:after{
    width: 100%;
  }

.wrapperp{
    padding-top: 60px;
}






/**********************/
/**** Bas de page *****/
/**********************/




    

















.mc{
    font-family: montserrat-semibold;
    color: #b666d2;
    padding-left: 3px;
}



/**********************/
/******* Footer *******/
/**********************/

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    transition: 0,1s;
    color: #b666d2;
    cursor: pointer;
}

footer{
    background-color: #242626;
    color :white;
    display: block;
    height: max-content;
    
}

.footer1{ 
    display: flex;
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer2{ 
    padding: 10px;
    background-color: #242626;
    border-top: solid 0.1px #b666d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    display: flex;
    justify-content: center;
    font-family: montserrat, sans-serif;
    font-size: 8pt;
    padding-top: 3px;
    padding-bottom: 3px;
    
}

.two{
    padding-left: 5px;
}





.footer3 a{
    color: white;
}


.bas2{
 
    flex: 6;
    display: flex;
    align-items: center;
}



.bas3{
  
    flex: 2;
}

.bas4{
    
    flex: 2;
}

.text1{
    padding: 1px;
    font-size: 15pt;
    color: white;
    font-family: montserrat-semibold, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.text2, .text3, .text4, .text5{
    padding: 1px;
    font-size: 12pt;
    color: white;
    font-family: montserrat-light, sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
    
}

.text4>div, .text5>div{
    font-family: montserrat-regular, sans-serif;
    font-style: normal;
    color: #b666d2;
    font-weight: 100;
    margin-right: 6px;  
}

.text6, .text7, .text8, .text9, .text15, .text16 {
    font-size: 10pt;
    color: #b666d2;
    font-family: montserrat-light, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding-bottom: 5px;
    padding-top: 5px;
}

.text10, .text11, .text12, .text13, .text17, .text18, .text14{
    font-size: 10pt;
    color: white;
    font-family: montserrat-light, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.footer3{
    flex: 1;
    justify-content: center;
    padding-right: 30px;
    padding-left: 50px;
}

.r{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.lol{
    font-family: montserrat-light, sans-serif;
    font-size: 11pt;
    padding-bottom: 1px;
    padding-left: 10px;
}




