#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 300px;
    padding-top: 7px;
    width: 1.5cm;
    height: 1.5cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    height: 0.7cm;
}
  
#myBtn:hover {
    background-color: #b666d2;
}


body{
    margin: 0;
    padding: 0;     
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
    transition: 0,1s;
    color: #b666d2;
    cursor: pointer;
}

/**********************/
/**** Bandeau haut ****/
/**********************/

.logo{
    height: 1.3cm;
}

header{
    background: white;
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    position: fixed;
    border-bottom:rgba(0, 0, 0, 0.493) solid 1px;
    height: 1.5cm;
}

.to{
    font-family: montserrat-semibold, sans-serif;
    color: black;
    text-decoration: none;
    margin-right: 9px;
    margin-left: 7px;  
    padding-bottom: 10px;
    font-size: 11pt; 
    font-style: normal;
    font-weight: 100;
}

.titre{
    color: black;
    text-decoration: none;
    margin-right: 7px;
    margin-left: 7px;  
    padding-bottom: 10px;
    font-size: 11pt; 
    font-family: montserrat-regular, sans-serif;
    font-style: normal;
    font-weight: 100;
}
   

.cat{
    display: flex;  
    align-items: center;
    margin-right: 30px;
}

.blocktext {
    font-family: montserrat-regular, sans-serif;
    color: #242626;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    text-align: justify ;
    background-color: transparent;
}

.section6{
    padding-top: 3cm;
    padding-bottom: 4cm;
}

.s6t{
    text-align: center;
    padding-bottom: 20px;
    font-size: 17pt;;
    color: #b666d2;
    font-family: montserrat-bold, sans-serif;
    font-style: normal;
    font-weight: 100;
}

/**********************/
/******* Footer *******/
/**********************/

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    transition: 0,1s;
    color: #b666d2;
    cursor: pointer;
}

footer{
    background-color: #242626;
    color :white;
    display: block;
    height: max-content;
    
}

.footer1{ 
    display: flex;
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer2{ 
    padding: 10px;
    background-color: #242626;
    border-top: solid 0.1px #b666d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    display: flex;
    justify-content: center;
    font-family: montserrat, sans-serif;
    font-size: 8pt;
    padding-top: 3px;
    padding-bottom: 3px;
    
}




.footer3 a{
    color: white;
}


.bas2{
 
    flex: 6;
    display: flex;
    align-items: center;
}



.bas3{
  
    flex: 2;
}

.bas4{
    
    flex: 2;
}

.text1{
    padding: 1px;
    font-size: 15pt;
    color: white;
    font-family: montserrat-semibold, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.text2, .text3, .text4, .text5{
    padding: 1px;
    font-size: 12pt;
    color: white;
    font-family: montserrat-light, sans-serif;
    font-style: normal;
    font-weight: 100;
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
    
}

.text4>div, .text5>div{
    font-family: montserrat-regular, sans-serif;
    font-style: normal;
    color: #b666d2;
    font-weight: 100;
    margin-right: 6px;  
}

.text6, .text7, .text8, .text9, .text15, .text16 {
    font-size: 10pt;
    color: #b666d2;
    font-family: montserrat-light, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding-bottom: 5px;
    padding-top: 5px;
}

.text10, .text11, .text12, .text13, .text17, .text18, .text14{
    font-size: 10pt;
    color: white;
    font-family: montserrat-light, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.footer3{
    flex: 1;
    justify-content: center;
    padding-right: 30px;
    padding-left: 50px;
}

.mc{
    font-family: montserrat-semibold;
    color: #b666d2;
    padding-left: 3px;
}

.r{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.lol{
    font-family: montserrat-light, sans-serif;
    font-size: 11pt;
    padding-bottom: 1px;
    padding-left: 10px;
}